body {
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('FondoMatematicas.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    color: #2d2d2d;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    color: #8B4513; 
}

input, select, button {
    margin: 10px 0;
    padding: 12px;
    width: 85%;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 2px solid #a2a2a2;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    padding: 12px;
}

button:hover {
    background-color: #388E3C;
    transform: scale(1.05);
}

#result {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #4b5320;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #8B4513;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

